@use "sass:map";

@mixin font-face($font-name, $font-weight: 400, $font-style: normal) {
  $path: '/fonts/';

  $font-weights: (
          100: 'Thin',
          200: 'ExtraLight',
          300: 'Light',
          400: 'Regular',
          500: 'Medium',
          600: 'SemiBold',
          700: 'Bold',
          800: 'ExtraBold',
          900: 'Black',
  );

  $font-type: map.get($font-weights, $font-weight) + if($font-style == italic, 'Italic', '');

  @font-face {
    src: url('#{$path}#{$font-name}/#{$font-name}-#{$font-type}.woff2') format('woff2'),
    url('#{$path}#{$font-name}/#{$font-name}-#{$font-type}.woff') format('woff');
    font-family: $font-name;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
  }
}

// PPPangramSans
@include font-face("PPPangramSans", 300);
@include font-face("PPPangramSans", 400);
@include font-face("PPPangramSans", 500);
@include font-face("PPPangramSans", 600);
@include font-face("PPPangramSans", 700);
