// COLORS
$color-black: #000;
$color-white: #fff;
$color-main: #7AD927;

// FONTS
$font-base: 'PPPangramSans', Arial, sans-serif;

// EASING TRANSITIONS
$transition-standard: 0.4s ease-in-out;

// SETTINGS
$desktop-xxl: 2560;
$desktop-xl: 1920;
$desktop-lg: 1680;
$desktop-md: 1440;
$desktop-sm: 1366;
$desktop-xs: 1280;
$desktop-vh: 1000;
$desktop: 1024;
$mobile: 500;
